<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 30px;
}

h1 {
    color: #333;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

#task-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-list li button {
    margin-left: 10px;
}

#add-task {
    margin-top: 20px;
}
=======

>>>>>>> 9985f515972543f004d23b6830e5e14edd7cd527
